<section [ngSwitch]="view">
  <section *ngSwitchCase="'card'">
    <carte [titre]="titre" (personDelete)="delete($event)" (personUpdate)="update($event)" *ngFor="let titre of titres" ></carte>
  </section>

  <section *ngSwitchCase="'list'">
    <mat-list>
      <mat-list-item *ngFor="let titre of titres" class="mat-whiteframe-2dp mat-card">
        <img mat-list-avatar src="{{ titre.picture }}" alt="Avatar de l'employé"/>
        <h2 mat-line> <b>{{ titre.title }}</b> - {{ titre.artist }} </h2>
        <p mat-line>
          <span>{{ titre.album }} </span>
        </p>
      </mat-list-item>
    </mat-list>
  </section>
</section>


<section class="buttons-fab" *ngIf="dialogStatus == 'inactive'">
  <button (click)="showDialog()" mat-fab color="accent" class="button-add">
    <em class="material-icons">add</em>
  </button>

  <button (click)="switchView()" mat-fab color="warn">
    <em class="material-icons" *ngIf="view === 'card'">list</em>
    <em class="material-icons" *ngIf="view === 'list'">view_stream</em>
  </button>
</section>
