<mat-card class="mat-whiteframe-2dp">
  <mat-card-title> <span>➕ Créer un titre</span> </mat-card-title>

  <mat-card-content>
    <form novalidate [formGroup]="form">

      <p [class.errors]="form.get('title')!.invalid && (form.get('title')!.dirty || form.get('title')!.touched)">
        <mat-form-field class="name">
          <label>Title :</label>
          <input formControlName="title" name="title" matInput placeholder="Ex: Thriller" required />
          <mat-error *ngIf="form.get('title')!.dirty && form.get('title')!.errors?.['required']"><br />Le titre est
            obligatoire</mat-error>
          <mat-error *ngIf="form.get('title')!.dirty && form.get('title')!.errors?.['minlength']"><br />Le titre doit
            avoir au moins 2 caractères </mat-error>
        </mat-form-field>
        <mat-form-field class="name">
          <label>Artist :</label>
          <input formControlName="artist" matInput placeholder="Ex: Michael Jackson" name="artist" required />
          <mat-error *ngIf="form.get('artist')!.dirty && form.get('artist')!.errors?.['required']"><br />L'artiste est
            obligatoire</mat-error>
        </mat-form-field>
        <mat-form-field class="name">
          <label>Album :</label>
          <input formControlName="album" matInput placeholder="" name="album" required />
          <mat-error *ngIf="form.get('album')!.dirty && form.get('album')!.errors?.['required']"><br />L'album est
            obligatoire</mat-error>
        </mat-form-field>
        <mat-form-field class="name">
          <label>Durée :</label>
          <input formControlName="duration" matInput placeholder="" name="duration" required />
          <mat-error *ngIf="form.get('duration')!.dirty && form.get('duration')!.errors?.['required']"><br />La durée
            est obligatoire</mat-error>
        </mat-form-field>
      </p>
      <mat-form-field class="name">
        <label>Description :</label>
        <input formControlName="description" matInput placeholder="" name="description" required />
      </mat-form-field>

      <mat-form-field>
        <input formControlName="date" matInput [matDatepicker]="picker" placeholder="Choose a date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker ></mat-datepicker>
      </mat-form-field>

      <mat-form-field class="chip-list" >
        <mat-label><mat-icon>music_note</mat-icon> Style :</mat-label>
        <mat-chip-list #chipList aria-label="Intitulés des fonctions de l'employés">
          <mat-chip *ngFor="let style of titreModel.styles" (removed)="removeChipset(style)" >
            {{style}}
            <button matChipRemove>
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip>
          <input placeholder="Ex: Rock..."
                 [matChipInputFor]="chipList"
                 [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                 (matChipInputTokenEnd)="addChipset($event)">
        </mat-chip-list>
      </mat-form-field>

      <input #fileInput type="file" (change)="onFileSelected($event)" name="photo" style="display: none;"
        accept=".png,.jpg" />
      <div *ngIf="titreModel.picture">
        <img width="100" src="{{titreModel.picture}}" alt="Photo de l'employé" /> <br>
        <button mat-flat-button color="warn" (click)="titreModel.picture = null;">
          <mat-icon>
            cancel
          </mat-icon>
        </button>
      </div>
      <div class="file-upload" *ngIf="!titreModel.picture">
        <button type="button" (click)="fileInput.click()" mat-fab>
          <mat-icon>
            image
          </mat-icon>
        </button>
      </div>
    </form>
  </mat-card-content>

  <mat-card-actions align="end">
    <button mat-button type="button" (click)="cancel()">Annuler</button>
    <button mat-button type="submit" color="primary" (click)="submit(form.value)"
      [disabled]="!form.valid">Valider</button>
  </mat-card-actions>
</mat-card>
