<mat-card class="carteCustom">
  <mat-card-header>
    <mat-card-title> <b>{{titre?.title | uppercase}}</b> - {{titre?.artist}} </mat-card-title>
    <mat-card-subtitle>
      <mat-card-content>
        <br />
        <img *ngIf="titre?.picture" mat-card-image [src]="titre?.picture" alt="pochette de l'album" style="width: 300px;"  />

      </mat-card-content>
    </mat-card-subtitle>

    <mat-card-subtitle>
      <mat-card-content>
        <mat-chip-list>
          <mat-chip color="primary" *ngFor="let style of titre?.styles">
            <mat-icon class="small">
              music_note
            </mat-icon>
            {{style}}
          </mat-chip>
        </mat-chip-list>
      </mat-card-content>
    </mat-card-subtitle>

  </mat-card-header>
  <mat-card-content>
    <mat-card-subtitle class="info">
      <mat-icon>disc_full</mat-icon>
      <p>{{titre?.album}}</p>
    </mat-card-subtitle>
    <mat-card-subtitle class="info">
      <mat-icon>access_time</mat-icon>
      <p>{{titre?.duration}}</p>
    </mat-card-subtitle>
    <mat-card-subtitle class="info">
      <p>{{titre?.description}}</p>
    </mat-card-subtitle>
    <mat-card-subtitle class="info">
      <mat-icon>date_range</mat-icon>
      <p>{{parseDate(titre?.date)}}</p>
    </mat-card-subtitle>
  </mat-card-content>

  <mat-card-actions align="end">
    <button mat-mini-fab aria-label="Editer" color="accent" [routerLink]="['/edit', titre?.id]">
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-mini-fab aria-label="Supprimer" color="warn" (click)="delete()">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
