<mat-card class="carteCustom">
  <mat-card-header>
    <img *ngIf="titre?.picture" mat-card-image [src]="titre?.picture" alt="pochette de l'album" />
    <mat-card-title> {{titre?.title | uppercase}} {{titre?.artist}} </mat-card-title>
    <mat-card-subtitle>
      <mat-card-content>
        <mat-chip-list>
          <mat-chip color="primary" *ngFor="let titre of titre?.album">
            <mat-icon class="small">
              work_outline
            </mat-icon>
            {{titre}}
          </mat-chip>
        </mat-chip-list>
      </mat-card-content>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-card-subtitle class="info">
      <mat-icon>email</mat-icon>
      {{titre?.description}}
    </mat-card-subtitle>
    <mat-card-subtitle class="info">
      <mat-icon>phone</mat-icon>
      <a href="tel:{{titre?.duration}}" title="Call">{{titre?.date}}</a>
    </mat-card-subtitle>
  </mat-card-content>

  <mat-card-actions align="end">
    <button mat-mini-fab aria-label="Editer" color="accent" [routerLink]="['/edit', titre?.id]">
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-mini-fab aria-label="Supprimer" color="warn" (click)="delete()">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
